body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    font-family: 'Nunito Sans', sans-serif;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style du Footer */

.footer a {
  text-decoration: none;
}

.footer .social-icon:hover {
  color: #00aced; /* Couleur au survol */
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  list-style: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}
